/* колір основного тексту  #757575;*/
/* вторичний колір #212121;*/
/* колір фону #F5F5F5;*/
/* білий колір #FFFFFF;*/ 
/* акцент #2196F3;*/
/* колір контактів rgba(255, 255, 255, 0.6);*/

:root {
    --primary-color: #757575;
    --link-color: #212121;
    --secondary-text-color: #212121;
}
body {
    font-family: 'Roboto', sans-serif; 
    color: var(--primary-color)
    var(--secondary-text-color)
    text-decoration: none;
}

a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    text-decoration: none; 
}

.link:hover {
    color: #008000;
}

.link:focus {
    color: rgb(223, 154, 26);
}   

.nav-link:hover {
    color: #008000;
}

.nav-link:focus {
    color: rgb(223, 154, 26);
}

.nav-link-portfolio  {
    color: #212121;
    text-decoration: none;
}

.nav-link-portfolio:hover {
    color: #008000;
}

.nav-link-portfolio:focus {
    color: rgb(223, 154, 26);
}

.link-tel {
    color: #757575;
}

.footer-link:hover {
    color: #008000;
}

.footer-link:focus {
    color: rgb(223, 154, 26);
}

.logo-link {
color: #2196F3;
text-decoration: none;

}

.logo-header {
    color: black;
    background-color: #FFFFFF;
    line-height: 1.1;
}

.logo-header-white {
    color: #FFFFFF;
    line-height: 1.1;
}

.link {
    color: #212121;
    text-decoration: none; 
}

.nav-link {
    color: #2196F3;
    text-decoration: none;
}

.section-hero {
    background: #2F303A;
}

.title-hero {
    color: #FFFFFF;
}

.section-btn {
    color:var(--secondary-text-color);
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    line-height: 1.6;
}

.section-btn-all {
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    line-height: 1.6;
}

.section-btn-all:hover {
    color: #008000;
}

.section-btn-all:focus {
    color: rgb(223, 154, 26);
}

/*footer*/
.footer-color {
background-color:#2F303A;;

}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
}

.address-link {
    color: #FFFFFF;
}

.header-btn {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    cursor: pointer; 
}